<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>nyxmedia/payments Admin</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/static/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/unix.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="index.html"><span>nyxmedia/paymentslution</span></a>
                        </div>
                       <p> Política de Privacidad
                        Última actualización: 29 de mayo de 2024
                        
                        En NYX, valoramos y respetamos la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, 
                        usamos y protegemos la información personal que nos proporcionas
                         a través de nuestra pasarela de pago. Al utilizar nuestros servicios, aceptas los términos de esta Política de Privacidad.</p>
                        <p>1. Información que Recopilamos
                            Recopilamos la siguiente información personal cuando utilizas nuestra pasarela de pago:</p><br>
                        
                        <p> 2. Uso de la Información
                            La información que recopilamos se utiliza exclusivamente para los siguientes propósitos: Entrega de Contenido: Enviarte el contenido digital que has comprado.
                            Comunicación: Ponernos en contacto contigo en caso de cualquier problema relacionado con tu compra o para proporcionar actualizaciones importantes sobre el contenido adquirido.Correo electrónico: Utilizamos tu correo electrónico únicamente para enviarte el contenido por el que has pagado, como ebooks, newsletters, cursos u otros materiales.
                        </p><br>
                        
                        <p> 3. Protección de la Información
                            Tomamos medidas razonables para proteger la información personal que nos proporcionas contra el acceso, uso o divulgación no autorizados. Estas medidas incluyen:Cifrado: Utilizamos tecnología de cifrado para proteger los datos durante la transmisión.
                            Acceso Restringido: Solo el personal autorizado tiene acceso a tu información personal.</p><br>
                       
                       
                        <p>
                            
                            4. Compartir Información
                            No vendemos, intercambiamos ni transferimos tu información personal a terceros sin tu consentimiento, salvo en las siguientes circunstancias:
                        </p><br>
                       
                        <p>
                            
                        5. Conservación de la Información
                        Retenemos tu información personal solo durante el tiempo necesario para cumplir con los propósitos descritos en esta Política de Privacidad, a menos que la ley requiera o permita un período de retención más largo.
                        Proveedores de Servicios: Podemos compartir tu información con proveedores de servicios de confianza que nos ayuden a operar nuestra plataforma y a entregar el contenido. Estos proveedores están obligados a mantener la confidencialidad de tu información.
                        Cumplimiento Legal: Podemos divulgar tu información si es requerido por la ley o si creemos que dicha acción es necesaria para cumplir con una obligación legal.
                        </p><br>
                        
                        <p> 6. Derechos del Usuario
                            Tienes derecho a acceder, corregir o eliminar tu información personal que tenemos en 
                            nuestro poder. Para ejercer estos derechos, por favor contáctanos a nyxfundation@gmail.com.</p><br>
                       
                        <p> 7. Cambios en la Política de Privacidad
                            Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. 
                            Te notificaremos sobre cualquier cambio publicando la nueva Política de Privacidad en esta página. 
                            Te recomendamos revisar esta Política de Privacidad periódicamente para estar informado sobre
                             cómo protegemos tu información.</p><br>
                       
                        <p>8. Contacto
                            Si tienes alguna pregunta o inquietud sobre esta Política de Privacidad, no dudes en contactarnos a:</p><br>
                        
                        <p> Correo Electrónico: nyxfundation@gmail.com</p><br>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>